:root{
	--color-white: #FBFBFB;
	--color-white-2: #FFFFFF;


	--color-black: #333333;

	--color-black-2: #000000;

	--color-grey: #A0A0A0;
	
	--color-gold: #B99C66;

	--font-montserrat: "Montserrat";
}